@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>This is a database of all my movies.</p>
</div>

<img src="~/img/JoelHiltonHeadshot.jpg" height="500" />

<br />
<div>
    <a asp-controller="Home" asp-action="DatingApplication">Enter New Movie</a>
</div>